@charset "utf-8";
@font-face {
    font-family:"BebasNeueBold";
    src: url("../font/BebasNeueBold.ttf");
}
@font-face {
    font-family:"Barlow-Medium";
    src: url("../font/Barlow-Medium.otf");
}
@font-face {
    font-family:"Brandon-Grotesque-Black";
    src: url("../font/Brandon-Grotesque-Black.otf");
}
@font-face {
    font-family:"FalconsFont";
    src: url("../font/FalconsFont.ttf");
}
.abcd{
      
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    /* background-color: #f88700; */
    background-image: linear-gradient(to right, #ff8100, #ff8e00, #ffa400);
    color: #fff;
}
.modal-dialog {
    /*width: 50%;*/
    margin: 58px auto;
}
 .conditions{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}
.agree{
    width: 100%;
    display: inline-flex;
    text-align: center;
    cursor:pointer;
}
.terms {
    width: 95%;
    margin: auto;
    font-size: 15px;
    font-family: "Barlow-Medium";
}
.sub-button {
    width: 63%;
    text-align: center;
    padding: 9px 20px;
    background-image: linear-gradient(to right, #ff8100, #ff8e00, #ffa400);
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    /* font-family: "Brandon-Grotesque-Black"; */
    margin-left: 20%;
    margin-top: 3%;
    /* font-weight: 100; */
}

.logo1 {
    width: 50%;
    padding: 10px 0px 0px;
}
.logo1 p{
    color: #fff;
    font-family: "FalconsFont";
    font-size: 10px;
    letter-spacing: 8px;
    font-weight: 500;
}
.logo1 img {
    max-width: 100%;
    width: 12%;
    /* padding: 5px; */
}



.inner-container{
    display:inline-flex;
	min-height: 100vh;
	}
.left-side{
	background:#273047;
	padding: 46px 50px;
	min-height: 100vh;
}
.main-heading{
    font-size: 110px;
    font-family: "BebasNeueBold";
    color: #fff;
    line-height: 100px;
    padding: 65px 0px 45px;
    margin: 0;
}
.explanation{
	font-family:"Barlow-Medium";
	font-size:18px;
	color:#fff;
	margin-bottom: 14%;
}
.login_button{
        width: 40% !important;
    background-image: linear-gradient(to right, #fab104, #fab104, #fab005) !important;
}
.right-side{
	padding:30px 100px;
}

.title {
    line-height: 65px;
    text-align: center;
    font-size: 80px;
    font-family: "BebasNeueBold";
    background: linear-gradient(to right, #ff8100, #ff8100, #ff8e00, #ffa400, #ffbc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*margin: 0;*/
}
::placeholder {
  color:  #b7b7b7;
  /*opacity: 1;  Firefox */
}
.user {
    padding: 8px 22px;
    width: 100%;
    font-family: "Barlow-Medium";
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 2%;
    color: #000;
    outline: #81b746;
}
.user:hover{
	border-color:#81b746;

}
.input-sections{
	padding-top: 20px;
}
.radio-section {
	font-family: "Barlow-Medium";
    font-size: 15px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
        color: #000;
}
.first{
    border: 1px solid #ccc;
    padding: 15px;
    width: 39%;
        border-radius: 4px;
}
.second{
    border: 1px solid #ccc;
    padding: 15px;
    width: 59%;
    border-radius: 4px;
}
.adjust {

	width:100%;
    display: inline-flex;
    justify-content: space-between;
}
.adjust p{
	color:#b7b7b7;
}
.start-button {
    width: 100%;
    text-align: center;
    padding: 13px;
    background-image: linear-gradient(to right, #ff8100, #ff8e00, #ffa400, #ffbc00, #ffc800);
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-top: 2%;
    font-family: "Brandon-Grotesque-Black";
    cursor:pointer;
}
label{
	margin:0;
	font-weight: 100;
}
input[type="radio"]:checked + label {
  color: #000;
}
 
 .img-div{
     width:50%;
 }
/******************************************LOGIN***************************************************************/
.login-sec {
    width: 100%;
    /* margin: auto; */
    text-align: center;
}
.login {
    background: linear-gradient(to right, #ff8100, #ff8100, #ff8e00, #ffa400, #ffbc00);
    font-size: 65px;
    /* color: #ff6800; */
    font-family: "Brandon-Grotesque-Black";
    text-align: center;
    width: 100%;
    /* margin: 12% 0% 3% 0%; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.id-pass {
    padding-top: 23px;
    width: 70%;
    margin: auto;
}
.username {
    outline-color: #000000;
    font-size: 16px;
    padding: 14px;
    width: 100%;
    /* height: 48px; */
    margin-bottom: 5%;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    border: 1px solid #9f9999;
    font-family: "Barlow-Medium";
}
button.close {
    /* color: #000 !important; */
    -webkit-appearance: none;
    padding: 8px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin-right: 3%;
}
  /*************************************************STEP 2******************************************************/
.header{
	    background-image: linear-gradient(to right, #1c2333,#262e45 ,#283249);
	        padding: 10px 0px 20px;
}
.logo {
    width: 25%;
    padding: 10px 0px 0px;
}
.logo p{
    color: #fff;
    font-family: "FalconsFont";
    font-size: 8px;
    letter-spacing: 8px;
    font-weight: 500;
}
.logo img {
    max-width: 100%;
    width: 12%;
    /* padding: 5px; */
}
.extra_header {
    display: inline-flex;
    padding-top: 10px;
    width: 100%;
}
.header-text {
    color: #fff;
    font-size: 20px;
    font-family: "Barlow-Medium";
    padding: 13px 0px;
    text-align: center;
    width: 60%;
}
.questions{
	    padding-top: 40px;
	        padding-bottom: 15px;
}
.questions p{
	  font-size: 20px;
    font-family: "Barlow-Medium";
    color:#000;
}
.ques{
    border: none;
    border-bottom: 2px solid #0000003b;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: "Barlow-Medium";
    outline:none;
}
.submit-button {
    width: 40%;
 	text-align:center;
    padding: 13px;
    background-image: linear-gradient(to right, #ff8100, #ff8e00, #ffa400, #ffbc00, #ffc800);
    border: none;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    margin-top: 4%;
    font-family: "Brandon-Grotesque-Black";
    margin-bottom: 3%;
}
.thanks{
    text-align: center;
    padding: 140px 50px;
    width: 50%;
    margin: auto;
}
.thankyou{
    font-size: 35px;
    color: #ff4200;
     font-family: "Brandon-Grotesque-Black";
    
}
.thanks-text{
	 font-size: 25px;
    font-family: "Barlow-Medium";
    color:#000;
}